<ul class="plan">
  <li class="plan-head">プランテキスト</li>
  <li class="plan-price">
    <div class="plan-price-main">
      <p class="plan-price-unit">￥</p>
      <p class="plan-price-amount">5,000</p>
    </div>
    <p class="plan-price-sub">月額</p>
  </li>
  <li class="plan-item">入会金0円</li>
  <li class="plan-item">平日：9時〜17時</li>
  <li class="plan-item">土日祝：利用ナシ</li>
  <li class="plan-item">コアタイムでの利用に最適なプラン</li>
</ul>

<ul class="plan">
  <li class="plan-head">プランテキスト</li>
  <li class="plan-price">
    <div class="plan-price-main">
      <p class="plan-price-unit">￥</p>
      <p class="plan-price-amount">5,000</p>
    </div>
    <p class="plan-price-sub">月額</p>
  </li>
  <li class="plan-item">入会金0円</li>
  <li class="plan-item">平日：9時〜17時</li>
  <li class="plan-item">土日祝：利用ナシ</li>
  <li class="plan-item">コアタイムでの利用に最適なプラン</li>
</ul>
