<div class="plan">
  <p class="plan-head">プランテキスト</p>
  <p class="plan-price">￥5,000月額</p>
  <p class="plan-item">入会金0円</p>
  <p class="plan-item">平日：9時〜17時</p>
  <p class="plan-item">土日祝：利用ナシ</p>
  <p class="plan-item">コアタイムでの利用に最適な<br />プラン</p>
</div>

<div class="plan standard">
  <p class="plan-head">プランテキスト</p>
  <p class="plan-price">￥5,000月額</p>
  <p class="plan-item">入会金0円</p>
  <p class="plan-item">平日：9時〜17時</p>
  <p class="plan-item">土日祝：利用ナシ</p>
  <p class="plan-item">コアタイムでの利用に最適な<br />プラン</p>
</div>
