<div class="news-title">
  <h2 class="news-title-main">Event</h2>
  <h2 class="news-title-sub">イベント</h2>
</div>

<div class="article">
  <article class="article-item">
    <a href="#">
      <p class="article-content">
        全ての業種に対応した起業応援セミナーを開催します。
      </p>
      <time>2018.06.20</time>
    </a>
  </article>
  <article class="article-item">
    <a href="#"
      ><p class="article-content">
        第3回Switchクリエイター交流会開催いたします！
      </p>
      <time>2018.06.18</time>
    </a>
  </article>
  <article class="article-item">
    <a href="#"
      ><p class="article-content">
        Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
      </p>
      <time>2018.06.12</time>
    </a>
  </article>
</div>

<div class="news-and-events-more-parent">
  <a class="news-and-events-more" href="#"
    >イベント一覧<i class="fa-solid fa-angle-right"></i
  ></a>
</div>
