@use "../../variables" as *;
.card {
  position: relative;

  .card-img-top {
    height: 382.41px;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .triangle {
    position: absolute;
    border: 150px solid $white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    height: 0;
    width: 0;
  }

  h5 {
    position: absolute;
    left: 4px;
    font-weight: 700;
    font-size: $fontsize-l;
    color: $orange_bistre;
    width: 91px;
    height: 29px;
    margin-bottom: 0;
  }

  .card-body {
    height: 183px;
    padding: 0;

    .card-text {
      margin-top: 32px;
      text-align: center;
      font-size: $fontsize-s;
    }

    .button {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
