<div class="organisms-top">
  <div class="box">
    <img
      src="../../../../src/asset/img/top/top-image.png"
      class="top-img-background"
      alt="top-image"
    />
    <h2 class="vertical-title">
      そうだ。<br />
      カフェに行こう。
    </h2>
  </div>
  <div class="message">
    <h2 class="title">
      カフェで読書＆コワーキング。快適のフロアスペース空間。
    </h2>
    <p class="explain">
      カフェエリアでコーヒーを注文し、ブックエリアでお好みの本を選び、コワーキングスペースでコーヒーと共に読書を楽しむ。
      学校・仕事帰りに、平日の日中に、休日にゆっくり...さまざまなライフスタイルに合わせてご利用いただける多彩なプランをご用意しております。
    </p>
  </div>
</div>
