@use "../../variables" as *;

.news-and-events-more {
  font-size: $fontsize-s;
  color: $black;
  transition: color 0.2s ease;
  text-decoration: none;
  & > i {
    margin-left: 16px;
  }
  &:hover {
    color: $gray_nobel;
  }
}
