@use "../../variables" as *;

a {
  width: 84px;
  height: 20px;
  font-weight: 400;
  font-size: $fontsize-s;
  line-height: 20.27px;
  color: $black;
  & > i {
    width: 14px;
    height: 14px;
    margin-left: 16px;
  }

  &:hover {
    transition: all 0.2s ease;
    color: $gray_nobel;
    text-decoration-line: none;
  }
}
