@use "../../variables" as *;

a {
  font-size: $fontsize-s;
  color: $black;
  transition: all 0.2s ease;

  & > i {
    width: 14px;
    height: 14px;
    margin-left: 16px;
  }

  &:hover {
    color: $gray_nobel;
    text-decoration: none;
  }
}
