<div class="organisms-news">
  <div class="news-title">
    <h2 class="news-title-main">News</h2>
    <h2 class="news-title-sub">お知らせ</h2>
  </div>
  <div class="article">
    <a href="#">
      <article class="article-item">
        <time datetime="2018-06-20">2018.06.20</time>
        <p class="article-content">
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
        </p>
      </article>
    </a>
    <a href="#">
      <article class="article-item">
        <time datetime="2018-06-18">2018.06.18</time>
        <p class="article-content">
          3種のレイアウトから選択できるテンプレートを固定ページに実装
        </p>
      </article>
    </a>
    <a href="#">
      <article class="article-item">
        <time datetime="2018-06-12">2018.06.12</time>
        <p class="article-content">
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </p>
      </article>
    </a>
    <a href="#">
      <article class="article-item">
        <time datetime="2018-06-08">2018.06.08</time>
        <p class="article-content">
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
        </p>
      </article>
    </a>
    <a href="#">
      <article class="article-item">
        <time datetime="2018-06-02">2018.06.02</time>
        <p class="article-content">テーマのアップデート情報について</p>
      </article>
    </a>
  </div>
  <div class="wrapper">
    <a class="news-and-events-more" href="#"
      >お知らせ一覧<i class="fa-solid fa-angle-right"></i
    ></a>
  </div>
</div>
