@use "../../variables" as *;

.article {
  a {
    text-decoration: none;
  }
  .article-item {
    border: 1px solid $gray_gainsboro;
    border-bottom: none;
    transition: all 0.2s ease;
    &:hover .article-content {
      color: $orange_bistre;
    }
    &:last-child {
      border-bottom: 1px solid $gray_gainsboro;
    }
    time {
      font-weight: 400;
      font-size: $fontsize-xs;
      color: $gray_nobel;
      padding: 20px 380px 10px 20px;
    }
    .article-content {
      color: $black;
      margin-bottom: 0;
      padding: 0px 29px 20px 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.news-and-events-more-parent {
  text-align: right;
  margin-top: 30px;
}
