<div class="organisms-footer">
  <div class="contact">
    <img
      src="../../../../src/asset/img/footer/logo-black.png"
      class="footer-img-logo"
      alt="logo-black"
    />
    <p>
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />TEL.06-1234-5678
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
    </p>
    <div class="icon-box">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-solid fa-wifi"></i>
    </div>
  </div>
  <div class="container-fluid">
    <ul
      class="footer-box row row-cols-2 row-cols-lg-auto justify-content-lg-center"
    >
      <li class="footer-item col">HOME</li>
      <li class="footer-item col">SERVICE</li>
      <li class="footer-item col">INTERVIEW</li>
      <li class="footer-item col">ACCESS</li>
      <li class="footer-item col">CONCEPT</li>
      <li class="footer-item col">FLOOR</li>
      <li class="footer-item col">BLOG</li>
      <li class="footer-item col">DOWNLOAD</li>
    </ul>
  </div>
  <p class="copyright">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </p>
</div>
