@use "../../variables" as *;
.footer-container {
  display: flex;
}
i {
  align-items: center;
}
.copyright {
  color: $white;
  background-color: $black;
  text-align: center;
  padding: 16px 190.5px;
}
.icon-box {
  margin: 20px auto 52px;
  display: inline-block;
}
.fa-facebook-f {
  margin-right: 17.08px;
}
.fa-twitter {
  margin-right: 14.7px;
}
.fa-instagram {
  margin-right: 15.75px;
}
.fa-wifi {
  transform: rotate(45deg);
}
.footer-box {
  list-style: none;
  display: flex;
  margin: 16px auto;
  .footer-item {
    padding: 0px 8px;
    border-right: 1px solid $black;
    &:nth-child(8) {
      border-right: none;
    }
  }
}
