<div class="message">
  <h2 class="title">
    <img
      src="../../../../src/asset/img/footer/logo-black.png"
      class="card-img-top"
      alt="logo-black"
    />
  </h2>
  <p class="explain">
    〒532-0011　大阪市淀川区西中島6丁目8-23テスト TEL.06-1234-5678
    FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
  </p>
</div>
<i class="fa-brands fa-facebook-f"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-solid fa-wifi"></i>
<div class="footer-container">
  <div class="footer-box">
    <p class="footer-item">HOME</p>
    <p class="footer-item">SERVICE</p>
    <p class="footer-item">INTERVIEW</p>
    <p class="footer-item">ACCESS</p>
  </div>
  <div class="footer-box">
    <p class="footer-item">CONCEPT</p>
    <p class="footer-item">FLOOR</p>
    <p class="footer-item">BLOG</p>
    <p class="footer-item">DOWNLOAD</p>
  </div>
</div>
<p class="copyright">
  Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
</p>
