<div class="organisms-footer">
  <div class="contact">
    <img
      src="../../../../src/asset/img/footer/logo-black.png"
      class="footer-img-logo"
      alt="logo-black"
    />
    <p>
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />TEL.06-1234-5678
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
    </p>
    <div class="icon-box">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-solid fa-wifi"></i>
    </div>
  </div>
  <div class="container-fluid">
    <ul
      class="footer-box row row-cols-2 row-cols-md-auto justify-content-md-center"
    >
      <li class="footer-item col"><a class="nav-link" href="#">HOME</a></li>
      <li class="footer-item col"><a class="nav-link" href="#">SERVICE</a></li>
      <li class="footer-item col">
        <a class="nav-link" href="#">INTERVIEW</a>
      </li>
      <li class="footer-item col"><a class="nav-link" href="#">ACCESS</a></li>
      <li class="footer-item col"><a class="nav-link" href="#">CONCEPT</a></li>
      <li class="footer-item col"><a class="nav-link" href="#">FLOOR</a></li>
      <li class="footer-item col"><a class="nav-link" href="#">BLOG</a></li>
      <li class="footer-item col"><a class="nav-link" href="#">DOWNLOAD</a></li>
    </ul>
  </div>
  <p class="copyright">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </p>
</div>
