@use "../../variables" as *;

.newstitle {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  & > .newstitle-1 {
    font-family: $fontfamily-mincho;
    font-weight: 400;
    font-size: $fontsize-l;
    line-height: 28.74px;
    margin-right: 16px;
  }

  & > .newstitle-2 {
    font-weight: 400;
    font-size: $fontsize-m;
    line-height: 23.17px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .newstitle {
    & > .newstitle-1 {
      font-size: $fontsize-xxl;
      line-height: 57.48px;
    }
  }
}
