@use "../../variables" as *;

.newstitle {
  display: flex;
  align-items: center;

  & > .newstitle-1 {
    font-family: $fontfamily-mincho;
    font-weight: 400;
    font-size: $fontsize-xxl;
    line-height: 57.48px;
    color: $black;
    margin-right: 16px;
  }

  & > .newstitle-2 {
    font-weight: 400;
    font-size: $fontsize-m;
    line-height: 23.17px;
    color: $black;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .newstitle {
    & > .newstitle-1 {
      font-size: $fontsize-m;
    }
  }
}
