@use "../../variables" as *;

.message {
  text-align: center;

  & > .title {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 10px;
  }

  .explain {
    font-family: $fontfamily-gothic;
    font-size: $fontsize-s;
    font-weight: 400;
    line-height: 36px;
  }

  @media screen and (max-width: $breakpoint-md) {
    .title {
      font-size: $fontsize-l;
      line-height: 30px;
    }

    .explain {
      line-height: 28px;
    }
  }
}
