@use "../../variables" as *;

.button {
    color: $white;
    background-color: $black;
    font-family: $fontfamily-gothic;
    font-size: $S;
    display: block;
    width: 200px;
    height: 55px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.button:hover {
    background-color: $orange_bistre;
    transition: all 0.2s ease;
    color: $white;
    text-decoration: none;
}


@media screen and (max-width:$breakpoint-sm){
    .button{
        width: 180px;
        height: 45px;
    }
}

@media screen and (max-width:$breakpoint-md){
    .button{
        width: 150px;
        height: 55px;
    }
}