@use "../../variables" as *;
.plans {
  .plan {
    .plan-head {
      padding: 20px;
    }
  }
}

.title {
  color: $orange_bistre;
}
.button {
  margin: 40px auto 0px;
  @media screen and (max-width: $breakpoint-md) {
    margin: 0px auto 15px;
  }
}
.plan-box {
  display: flex;
}
.message {
  padding-top: 0;
}
