<dix class="organisms-plan">
  <div class="message">
    <h2 class="title">ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p class="explain">
      平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休
      日をメインとしたプランなど、
      多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びい
      ただけます。
      ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいと
      いう方もぜひご利用ください。
    </p>
  </div>
  <div class="container-fluid">
    <div class="row row-cols-sm-1 row-cols-md-3">
      <div class="col">
        <ul class="plan">
          <li class="plan-head">デイタイムプラン</li>
          <li class="plan-price">
            <p class="plan-price-main">
              <span class="plan-price-amount">5,000</span>
            </p>
            <p class="plan-price-sub">月額</p>
          </li>
          <li class="plan-item">入会金0円</li>
          <li class="plan-item">平日：9時〜17時</li>
          <li class="plan-item">土日祝：利用ナシ</li>
          <li class="plan-item">コアタイムでの利用に最適なプラン</li>
        </ul>
      </div>
      <div class="col">
        <ul class="plan recommend">
          <li class="plan-head">スタンダードプラン</li>
          <li class="plan-price">
            <p class="plan-price-main">
              <span class="plan-price-amount">15,000</span>
            </p>
            <p class="plan-price-sub">月額</p>
          </li>
          <li class="plan-item">入会金0円</li>
          <li class="plan-item">平日：17時〜23時</li>
          <li class="plan-item">土日祝：営業時間全て</li>
          <li class="plan-item">営業時間内で終日ご利用可能なプラン</li>
        </ul>
      </div>
      <div class="col">
        <ul class="plan">
          <li class="plan-head">プレミアムプラン</li>
          <li class="plan-price">
            <p class="plan-price-main">
              <span class="plan-price-amount">20,000</span>
            </p>
            <p class="plan-price-sub">月額</p>
          </li>
          <li class="plan-item">入会金5000円</li>
          <li class="plan-item">平日：営業時間全て</li>
          <li class="plan-item">土日祝：営業時間全て</li>
          <li class="plan-item">フルに使いたい方のためのプレミアムなプラン</li>
        </ul>
      </div>
    </div>
  </div>
  <a class="button" href="#">プラン料金</a>
</dix>
