@use "../../variables" as *;
.organisms-about {
  margin-bottom: 40px;
  .container {
    .row {
      .col {
        padding: 0;
        img {
          max-width: 100%;
        }
      }
    }
    .message {
      background-color: $white_smoke;
      padding: 32px 24px;
      width: 100%;
      @media screen and (min-width: $breakpoint-lg) {
        padding: 52px 26.5px;
      }
      .title {
        color: $orange_bistre;
      }
    }
  }
}
