<div class="templates-news-and-events">
  <div class="container-fluid">
    <div class="row row-cols-lg-2">
      <div class="col">
        <div class="organisms-news">
          <div class="news-title">
            <h2 class="news-title-main">News</h2>
            <h2 class="news-title-sub">お知らせ</h2>
          </div>
          <div class="article">
            <a href="#">
              <article class="article-item">
                <time datetime="2018-06-20">2018.06.20</time>
                <p class="article-content">
                  ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
                </p>
              </article>
            </a>
            <a href="#">
              <article class="article-item">
                <time datetime="2018-06-18">2018.06.18</time>
                <p class="article-content">
                  3種のレイアウトから選択できるテンプレートを固定ページに実装
                </p>
              </article>
            </a>
            <a href="#">
              <article class="article-item">
                <time datetime="2018-06-12">2018.06.12</time>
                <p class="article-content">
                  利用者からのご質問をまとめた「FAQ」ページをアップしました。
                </p>
              </article>
            </a>
            <a href="#">
              <article class="article-item">
                <time datetime="2018-06-08">2018.06.08</time>
                <p class="article-content">
                  デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
                </p>
              </article>
            </a>
            <a href="#">
              <article class="article-item">
                <time datetime="2018-06-02">2018.06.02</time>
                <p class="article-content">テーマのアップデート情報について</p>
              </article>
            </a>
          </div>
          <div class="wrapper">
            <a class="news-and-events-more" href="#"
              >お知らせ一覧<i class="fa-solid fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="organisms-events">
          <div class="news-title">
            <h2 class="news-title-main">Event</h2>
            <h2 class="news-title-sub">イベント</h2>
          </div>
          <div class="article-with-img">
            <a class="img-and-text" href="#">
              <div class="events-img-frame">
                <img
                  src="../../../../src/asset/img/events/article-office.png"
                  class="events-img-left"
                  alt="article-office"
                />
              </div>
              <article class="article-item">
                <p class="article-content">
                  全ての業種に対応した起業応援セミナーを開催します。
                </p>
                <time>2018.06.20</time>
              </article>
            </a>
            <a class="img-and-text" href="#">
              <div class="events-img-frame">
                <img
                  src="../../../../src/asset/img/events/article-work.png"
                  class="events-img-left"
                  alt="article-work"
                />
              </div>
              <article class="article-item">
                <p class="article-content">
                  第3回Switchクリエイター交流会開催いたします！
                </p>
                <time>2018.06.18</time>
              </article>
            </a>
            <a class="img-and-text" href="#">
              <div class="events-img-frame">
                <img
                  src="../../../../src/asset/img/events/article-book.png"
                  class="events-img-left"
                  alt="article-book"
                />
              </div>
              <article class="article-item">
                <p class="article-content">
                  Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
                </p>
                <time>2018.06.12</time>
              </article>
            </a>
          </div>
          <div class="news-and-events-more-parent">
            <a class="news-and-events-more" href="#">
              イベント一覧
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
