<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <div class="card">
      <div class="scale-box">
        <a href="#">
          <img
            src="../../../../src/asset/img/card/image1.png"
            class="card-img-top"
            alt="image1"
          />
        </a>
      </div>
      <div class="triangle"></div>
      <h5 class="card-title">CONCEPT</h5>
      <div class="card-body">
        <p class="card-text">
          「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コ
          ワーキングです。お好きなドリンクを飲みながらゆったりと気兼ねなく
          勉強や仕事に取り組んでいただけます。
        </p>
        <a class="button" href="#">コンセプト</a>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <div class="card">
      <div class="scale-box">
        <a href="#">
          <img
            src="../../../../src/asset/img/card/image2.png"
            class="card-img-top"
            alt="image2"
          />
        </a>
      </div>
      <div class="triangle"></div>
      <h5 class="card-title">SERVICE</h5>
      <div class="card-body">
        <p class="card-text">
          喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで
          取りそろえるブックスペース。ブース型のパーソナルワークスペースに
          、開放感があるコワーキングスペース。
        </p>
        <a class="button" href="#">サービス</a>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <div class="card">
      <div class="scale-box">
        <a href="#">
          <img
            src="../../../../src/asset/img/card/image3.png"
            class="card-img-top"
            alt="image3"
          />
        </a>
      </div>
      <div class="triangle"></div>
      <h5 class="card-title">FLOOR</h5>
      <div class="card-body">
        <p class="card-text">
          カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当
          店では、目的や気分に合わせてフロア内を移動することで充実した時間
          をお過ごしいただけます。
        </p>
        <a class="button" href="#">フロアー</a>
      </div>
    </div>
  </div>
</div>
